In [11]:
import numpy as np
import pandas as pd
sal_dataf = pd.read_csv(r"E:\Monali\Class\machineLearning\ML\DecisionTree\bangalore_house_price_prediction-data.csv")
sal_dataf.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
P = sal_dataf.drop('price', axis=1)

q = sal_dataf['price']

print('Shape of P = ', P.shape)

print('Shape of q = ', q.shape)

Shape of P =  (7120, 107)
Shape of q =  (7120,)

In [14]:
from sklearn.model_selection import train_test_split

P_train, P_test, q_train, q_test = train_test_split(P, q, test_size=0.2, random_state=51)

print('Shape of P_train = ', P_train.shape)

print('Shape of q_train = ', q_train.shape)

print('Shape of P_test = ', P_test.shape)

print('Shape of q_test = ', q_test.shape)

Shape of P_train =  (5696, 107)
Shape of q_train =  (5696,)
Shape of P_test =  (1424, 107)
Shape of q_test =  (1424,)

In [15]:
from sklearn.tree import DecisionTreeRegressor 
dcregressor = DecisionTreeRegressor(criterion='mse')
dcregressor.fit(P_train, q_train)

DecisionTreeRegressor()

In [17]:
dcregressor.score(P_test, q_test)

0.8892106792181482

In [18]:
P_test.iloc[-1, :]

bath                               2.000000
balcony                            0.000000
total_sqft_int                  1566.000000
bhk                                2.000000
price_per_sqft                 11494.252874
                                   ...
location_Hosur Road                0.000000
location_Horamavu Banaswadi        0.000000
location_Domlur                    0.000000
location_Mahadevpura               0.000000
location_Tumkur Road               0.000000
Name: 43, Length: 107, dtype: float64

In [20]:
dcregressor.predict([P_test.iloc[-1, :]])

array([170.])

In [22]:
q_test.iloc[-1]

180.0

In [25]:
pred = dcregressor.predict(P_test)
pred

array([ 84.  ,  39.95, 120.  , ...,  34.3 ,  62.  , 170.  ])

In [26]:
q_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64